<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.css">
    <title><%= data[0].username %></title>
</head>
<body>
        <div class="img-wrap">  
        <img class="avatar" src="/uploads/<%= data[0].id %>.jpg" alt="">
        </div>
    <section class="profile">
        <article>
                
            <h1>  <%= data[0].username %></h1>
            
            <p>Hallo ik ben <%= data[0].username %> , Ik ben opzoek naar een <%= data[0].opzoeknaar %>  </p>
                <p>Geslacht: <%= data[0].geslacht %></p>
            <p> En mijn favoriete festival is <%= data[0].festival %></p>
            
        </article>
    </section>
    <div class="tabbar">
            <div class="tab-matchmaker">
              <a href="/home"><p>Matchmaker</p> </a>
            </div>
            <div class="tab-chats">
             <a href="#"> <p>Chats</p></a>
            </div>
            <div class="tab-account">
           <a href="/profile">  <p>Settings & Profiel</p></a> 
            </div>
            <div class="tab-logout">
              <a href="/logout"><p>log uit</p></a> 
          </div>
</body>
</html>